
body{
	margin:0;
	border:0;
}

.header{
	border-bottom: 1px solid gray;
}

.header-1{
	display: block;
	margin: 0 auto;
	width: 80%;
	height: 76px;

}

dl{
	margin:0;
	border:0;
	display: inline-block;
    position: absolute;
    height: 76px;
    line-height: 76px;
}

dt{
	display: inline-block;
}

.header-2{
	display: block;
	margin: 0 auto;
	width: 80%;
	height: 76px;
	color: #fff;
	 background: linear-gradient(#7a4f11, #392204);
}